.message {
  color: #333;
  font-size: 20;
  horizontal-align: center;
  padding:20;
}

button {
    background-color: #FF4081;
    color: #f1f1f1;
    border-radius: 4;
    margin: 4;
}
/*
gif {
  margin: 5;
}*/